<div class="text-left">
    <h1 >Инструкция</h1>
    <h5>Elasticserach может получать данные множеством способ. Наша C# библитека может записывать ваши логи в таких форматах, как .txt,.xls, записывать в локальную базу данных и отправлять напрямую tcp сообщениями.  </h5>
    <h4>Установка библиотеки</h4>
    <h6>Установка библиотеки в ваш C# проект очень проста. Просто дабавьте ссылку на скаченный файл в ваш проект и пропишите "using Logging;"</h6>
    <h4>Конфигурационный файл</h4>
    <h6>Сервис поможет вам с конфигурацией нашей библиотеки, при этом вы сами сможете исправить настройки на нужные в созданном при первом запуске библиотекой конфигурационном файле "configuration.conf" в папке проекта. </h6> 
    <h4>Конструктор библиотеки</h4>
    <h6>Для использования функций библиотеки вам необходимо создать объект "Logger", пропишите проекте "Logger [имя]=new Logger();"</h6>
    <h4>Все методы библиотеки</h4>
    <h6>При выборе полного функционала вам доступны следующие методы:</h6>
    <h6>.Fatal(obj[]message);</h6>
    <h6>.Error(obj[]message);</h6>
    <h6>.Warn(obj[]message);</h6>
    <h6>.Info(obj[]message);</h6>
    <h5>(Методы ниже записывают логи, только если вы разрешили запись низших уровней логирования ".DoDebug=True;")</h5>
    <h6>.Debug(obj[]message);</h6>
    <h6>.Trace(obj[]message);</h6>
    <h6>.All(obj[]message);</h6>
    <h5>Обратите внимание, что сущности, переданные в методы, должны конвертироваться в текстовый формат!</h5>
    <h5>Каждое имя метода соответствует уровню логирования, с которым будет записано лог-сообщение</h5>
    <h4>Запись логов</h4>
    <h6>При выборе полного функционала библиотека записывает логи следующим образом:</h6>
    <h6>.txt формат: Библиотека создаёт текстовый файл при каждом запуске вашего проекта в указанную директорию. Файлы имеют название Logs_[Время начала отладки проекта]. Выберите в вашем Logstash, что система будет собирать текстовые файлы из вашей директории.</h6>
    <h6>.xls формат: Библиотека создаёт Excel-таблицу при каждом запуске вашего проекта в указанную директорию. Файлы имеют название Logs_[Время начала отладки проекта]. Выберите в вашем Logstash, что система будет собирать таблицы из вашей директории.</h6>
    <h6>Локальная база данных: Библиотека записывает логи в базу данных по следующему адресу (localdb)\MSSQLLocalDB\Logs .Выберите в вашем Logstash, что система будет собирать логи из базы данных (localdb)\MSSQLLocalDB\Logs.</h6>
    <h6>Tcp-сообщения. Библиотека создаёт tcp-socket, подключающийся к указнному вами адресу Logstash. Включите в вашем Logstash функцию приёма tcp-сообщений.</h6>
    <h4>Cпасибо, что воспользовались нашем сервисом :) </h4>
    </div>