<div class="row mt-5 mb-2">
    <h2>Сейчас вы получаете вашу библиотечку</h2>
    <div class="row mt-5 mb-5">
        
       <div class="text-center">
        <img src=/img/load.gif>
        <h3>Собираем вашу библиотеку</h3>
      </div>
      
        </div>
        
        <script src="/js/file.js"></script>
        <script type="text/javascript">Load()</script>
        </div>
        
 