@{
    ViewData["Title"] = "О нас";
}

<div class="text-left">
    <h1 >О проекте</h1>
    <p>Данный веб-сервис предназначен для конфигруации .NET CORE C# библиотеки программных функций для подготовки логов в систему Elasticearch/ </p>
    <p> Elasticsearch — это высокомасштабируемая распределенная поисковая система полнотекстового поиска и анализа данных с веб-интерфейсом, REST API и неформализованными JSON-документами, которая разработана на базе полнотекстового поиска Lucene и работает в режиме реального времени.</p>
    <p> Система принимает информацию во множестве форматов, например: txt,xlmx,tcp-bite...</p>
    <p> С помощью этого сервиса вы можете получить библиотеку, которая собирает данные в выбранные вами форматы.
    <p> Спасибо за посещение сайта.</p>
    <p></p>
    <p> Разработчик: студент 2ого курса НИУ ВШЭ Пермь Стахов Максим </p>
    <p></p>
    <p> Для связи </P>
      
    <a class="badge badge-primary" href="https://vk.com/maxmixer"> VK </a>
    <a class="badge badge-pill badge-info">  mdstakhov@edu.hse.ru    </a>
</div>
