@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="text-center">
    <h1 class="display-4">Мы - C#Библиотека для отправки логов в Elastic</h1>
    <p>Отправляйте данные начальству нужным вам способом</p>
    <a class="btn btn-primary btn-lg" asp-controller="Level" asp-action="List"> Начинаем</a> 
</div>
